.cart .seprate {
  background-color: white;
  padding-bottom: 150px;
}
.cart {
  margin: 2rem auto;
  max-width: 800px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cart .table {
  width: 100%;
  border-collapse: collapse;
}

.cart .table th,
.cart .table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.cart .table th {
  font-weight: bold;
}

.cart .table td img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cart .table td input[type="number"] {
  width: 50px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.cart .cart-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.cart .table button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cart .table button:hover {
  background-color: #0069d9;
}

.cart .cart-actions button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cart .cart-actions button:hover {
  background-color: #0069d9;
}
