.main-navbar {
  padding-top: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999999999;
}
.top-buffer {
  padding-top: 120px;
}

.carousel-bg {
  background-color: #f9f3f0;
}
.home .seperate {
  background-color: #f9f3f0;
  padding-bottom: 100px;
}

.content-browse {
  padding-left: 17vw;
}

.content-items {
  padding-left: 17vw;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0);
  }
}

.main-carousel-content {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
