.main-navbar {
  padding-top: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999999999;
}
.top-buffer {
  padding-top: 120px;
}

.carousel-bg {
  background: rgb(210, 207, 198);
  background: linear-gradient(
    0deg,
    rgba(210, 207, 198, 1) 0%,
    rgba(249, 243, 240, 1) 8%
  );
}
.home .seperate {
  background-color: #f9f3f0;
  padding-bottom: 100px;
}

.content-browse-title {
  padding-left: 15vw;
  padding-bottom: 10px;
}

.content-items-title {
  padding-left: 15vw;
  padding-bottom: 10px;
}
.content-items-explore {
  margin-top: 3vh;
  padding-left: 17vw;
  padding-right: 17vw;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0);
  }
}

.main-carousel-content {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.main-carousel-content .link {
  text-decoration: none;
}

.main-carousel-content h1 {
  padding-bottom: 15px;
}

.main-carousel-content button {
  background: white;
  width: fit-content;
  padding: 15px 30px;
  border: 2px solid #e0dede;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.1s ease;
}
.main-carousel-content button:hover {
  background: var(--Blue);
  color: #fff;
  border: 2px solid var(--Blue);
}

.home .category ul li {
  border: 0;
}

.home .category ul li {
  border-radius: 10px;
  list-style: none;
  text-align: center;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
}

.home .category .category-item {
  border: 1px solid #e0dede;
  border-radius: 10px;
  padding: 1vw 3vw;
}

.home .category .category-item:hover {
  background-color: #f9f3f0;
  cursor: pointer;
  -webkit-transition: background 1s; /* For Safari */
  transition: background 1s; /* For modern browsers */
}

.home .category .category-img {
  padding-bottom: 10px;
}

.home-ob {
  padding-top: 100px;
  padding-bottom: 10px;
  margin-left: 4vw;
}
