/* .cardsComp {
  min-width: fit-content;
  max-width: fit-content;
}

.cardsComp img {
  width: 50%;
  height: 50%;
  object-fit: cover;
} */
.card-comp {
  min-width: fit-content;
  max-width: fit-content;
  margin-bottom: 5vh; /* Add margin bottom to each card */
}

.card-comp .bt {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

.card-comp:hover .bt {
  visibility: visible;
  opacity: 1;
}

.card-comp .card-img-top {
  border-radius: 10px;
}

.card-comp .card {
  border-radius: 10px;
}

.card-comp .card-comp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
