.footer h3 {
  color: gray;
  margin-bottom: 20px;
}

.footer a {
  text-decoration: none;
  color: gray;
}

.footer a:hover {
  color: black;
}

.footer .col {
  color: gray;
}

.footer .list-group-item {
  float: left;
  border: 0 !important;
  margin: 0px;
  padding: 10px 20px;
}

.footer p {
  color: gray;
}
