.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67%;
  height: 70px;
  column-gap: 300px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
}

.navbar .nav-logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.navbar .nav-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

.navbar .nav-links ul li {
  margin: 0 10px;
}

.navbar .nav-links ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.navbar .nav-links ul li a:hover {
  color: #ff9800;
  text-decoration: underline;
}

.navbar .nav-icons ul {
  display: flex;
  width: 100%;
  list-style: none;
}

.navbar .nav-icons ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  margin-left: 20px;
}
.navbar .nav-icons ul li a :hover {
  color: #ff9800;
  transition: all 0.3s ease;
}
