.navbar ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.navbar .list-group-item {
  float: left;
  border: 0 !important;
  margin: 0px;
}

.navbar a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
